.post-container {
  display: inline-block;
  border: 2px #56e1f3 solid;
  max-width: 200px;
}

.image-container {
  width: auto;
  height: 150px;
  display: inline-block;
  border-bottom: 2px #56e1f3 solid;
}

.image-container > img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 2px #56e1f3 solid;
}

.like-container {
  display: flex;
  width: 25px;
  justify-content: space-between;
}

.like-button {
  margin-left: 9px;
}

.comment-container {
  border-bottom: 2px #56e1f3 solid;
}

.comment-container > input {
  padding: 2px;
  outline: none;
  border: none;
}

.comment-container > button {
  padding: 2px;
  cursor: pointer;
  height: 27px;
  border-radius: 0;
  outline: none;
  border: none;
  width: 35px;
  background-color: #56e1f3;
}

.comment-container > button:hover {
  outline: none;
  background-color: #04dcf8;
}

.like-button {
  cursor: pointer;
}
